@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100,100italic,500,400italic,500italic,700,700italic,900italic,900);
.roboto {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}
.header {
  width: 100%;
  height: 200px;
  background-color: #5677fc;
}
.background {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  float: left;
  height: 1250px;
  background-color: #ffffff;
  position: absolute;
  left: 18%;
  top: 80px;
  /*-webkit-box-shadow: 1px 2px 3px 1px #9e9e9e;
	box-shadow: 1px 2px 3px 1px #9e9e9e;*/
  -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.7);
}
.text {
  position: absolute;
  top: 850px;
  left: 90px;
  width: 90%;
  height: auto;
}
.text h1 {
  font-size: 42px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
}
.text p {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
}
.topPic {
  width: 100%;
  height: 750px;
  background-image: url("http://i58.tinypic.com/efqhig.jpg");
  float: left;
  position: absolute;
  top: 0;
}
.topPic .topicTitle {
  width: 100%;
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.2;
  z-index: 0;
}
.topPic .title {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  color: #ffffff;
  float: left;
  font-weight: 300;
  position: absolute;
  bottom: 300px;
  left: 90px;
}
.topPic .description {
  font-family: 'Roboto', sans-serif;
  width: 600px;
  font-size: 26px;
  font-weight: 200;
  position: absolute;
  bottom: 200px;
  left: 90px;
  color: #ffffff;
}
.menuBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 0px;
  background-color: #303f9f;
  z-index: 51;
  display: none;
  -webkit-box-shadow: 0px 3px 2px 1px rgba(56, 56, 56, 0.75);
  -moz-box-shadow: 0px 3px 2px 1px rgba(56, 56, 56, 0.75);
  box-shadow: 0px 3px 2px 1px rgba(56, 56, 56, 0.75);
}
.menuBar .iconBg {
  width: 60px;
  height: 60px;
  position: absolute;
  display: block;
  left: 0px;
  top: 10px;
  z-index: 90;
  cursor: pointer;
  bacground-color: red;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.menuBar .iconBg:hover {
  background-color: #7986cb;
}
.menuBar .magnifierIcon {
  background: url(http://s30.postimg.org/5vghezzkd/search_white.png) 18px 18px no-repeat;
  width: 60px;
  height: 60px;
  display: block;
  z-index: 92;
}
.menuBar input[type=text] {
  outline: 0;
  border: none;
  background-color: #eeeeee;
  height: 58px;
  width: 0px;
  position: absolute;
  top: 10px;
  right: 100px;
  padding-left: 0px;
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.54);
}
.menuButton {
  width: 60px;
  height: 60px;
  background-color: #ff4081;
  float: left;
  /*-webkit-border-radius: 30px 30px 30px 30px;
  border-radius: 30px 30px 30px 30px;*/
  opacity: 1;
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 100;
  cursor: pointer;
  /*&:hover {
    background-color: #fe5c93;
    }*/
}
.menuButton #line1 {
  width: 25px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 19px;
  left: 17px;
}
.menuButton #line2 {
  width: 25px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 28px;
  left: 17px;
}
.menuButton #line3 {
  width: 25px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 37px;
  left: 17px;
}
.overlay {
  width: 0px;
  height: 50px;
  margin: 0 auto;
  float: left;
  background-color: #4db6ac;
  position: absolute;
  /*
	left: -100%;
  top:80px;*/
  top: 80px;
  left: 343px;
  z-index: 50;
  display: none;
}
.overlay .choice {
  width: 1000px;
  height: 200px;
  background-color: #fafafa;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  line-height: 200px;
  font-size: 0;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto', sans-serif;
  display: none;
  cursor: pointer;
}
.overlay #home {
  position: absolute;
  width: 0px;
  height: 50px;
  top: 0px;
  left: 0px;
  display: none;
  margin: 0;
  z-index: 7;
}
.overlay #about {
  position: absolute;
  width: 0px;
  height: 50px;
  top: 0px;
  left: 0px;
  display: none;
  margin: 0;
  z-index: 7;
}
.overlay #work {
  position: absolute;
  width: 0px;
  height: 50px;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  z-index: 7;
}
.overlay #material {
  position: absolute;
  width: 0px;
  height: 50px;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  z-index: 7;
}
.overlay #contact {
  position: absolute;
  width: 0px;
  height: 50px;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  z-index: 7;
}
.cover {
  width: 270px;
  height: 200px;
  background-color: #FFFFFF;
  float: left;
  margin: 0;
  padding: 0;
}
