﻿*, *:before, *:after {
  box-sizing: border-box;
}

nav {
  max-width: 20em;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ul {
  margin: 0;
  padding: 1em;
}

li {
  list-style: none;
  overflow: hidden;
  display: block;
  position: relative;
  background: #e6d9f2;
  /*transition: border 0.2s;
  border-left: 0em solid $rebeccapurple;
  &:hover{
    border-left-width: 0.2em;
  }*/
}

a {
  padding: 1.5em;
  display: block;
  position: relative;
  z-index: 2;
  color: #663399;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 0.175s;
          transition: color 0.175s;
}
a:hover {
  color: #8c53c6;
}

.touch {
  position: absolute;
  top: 0;
  left: 0;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  background: #a679d2;
  margin: -10em 0 0 -10em;
  opacity: 0;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: touch;
          animation-name: touch;
  pointer-events: none;
}

@-webkit-keyframes touch {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes touch {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
