<!DOCTYPE html>

<html ng-app="MyApp">
<head>
    <title>Manage Records</title>


    <script src="js/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script src ="js/app.js"type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Dogfalo/materialize/master/dist/css/materialize.min.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/Dogfalo/materialize/master/dist/js/materialize.min.js"></script>
    <script src="js/maincontroller.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Dogfalo/materialize/master/dist/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/Dogfalo/materialize/master/dist/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Dogfalo/materialize/master/dist/css/materialize.min.css" />
    <link rel='stylesheet prefetch' href='https://cdn.rawgit.com/Dogfalo/materialize/master/dist/css/materialize.min.css'>
    <link rel="stylesheet" href="css/style.css">
   
   


</head>

<body>
    
    <div class="intro deep-orange lighten-2 z-depth-1">
        <h1 class="grey-text text-lighten-5">TODO App</h1>
        <h5 clas="grey lighten-4 grey-text text-darken-1"></h5>
    </div>
    <div class="container about">
        <h5>Manage Data</h5>
        <h6>Enter your records</h6>
        <hr>
        <div>
            <div ng-controller="Todo">
                <br />
                <!--<h1>TODO App</h1>-->
               <!-- <div style="border: 1px solid blue;">!-->

                    <!--<table>
                    <tr>
                        <td>ID: </td>
                        <td>
                            <input type="text" ng-model="record.ID" />
                        </td>
                    </tr>
                    <tr>
                        <td>Person Name: </td>
                        <td>
                            <input type="text" ng-model="record.Name" />
                        </td>
                    </tr>
                    <tr>
                        <td>Record Description: </td>
                        <td>
                            <input type="text" ng-model="record.Record" />
                        </td>
                    </tr>

                    <tr>
                        <td>Address: </td>
                        <td>
                            <input type="text" ng-model="record.Address" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="Button" value="Submit" ng-click="addRecord(record)" />
                        </td>
                    </tr>
                </table>-->
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="first_name" type="text" class="validate" ng-model="record.ID">
                                    <label for="first_name">ID</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="last_name" type="text" class="validate" ng-model="record.Name">
                                    <label for="last_name">Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="username" type="text" class="validate" ng-model="record.Record">
                                    <label for="username">Record</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="text" class="validate" ng-model="record.Address">
                                    <label for="password">Address</label>


                                   
                                </div>
                               
                            </div>
                            <!--<div class="row">
                                
                                <input type="Button" value="Submit" ng-click="addRecord(record)" />
                            </div>-->
                            <div class="col s12 m4 l4">
                                <div class="card-action">
                                    <!--<input type="Button" value="Submit" ng-click="addRecord(record)" />-->
                                   <a class="waves-effect waves-light btn" ng-click="addRecord(record)">Submit</a>&nbsp;&nbsp;&nbsp;
                                   <a class="waves-effect waves-light btn" onclick="window.location='home.html'">Back</a>
                                  
                                </div>
                                </div>
</form>
                    </div>
                <!--</div>!-->
                <div style="padding-top: 15px;">
                    <table border="1" class="mytable">

                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Record</td>
                            <td>Address</td>
                            <td>Action</td>
                        </tr>
                        <tr ng-repeat="record in records">
                            <td>{{record.ID}}</td>
                            <td>
                                <span ng-hide="editMode">{{record.Name}}</span>
                                <input type="text" ng-show="editMode" ng-model="record.Name" />
                            </td>
                            <td>
                                <span ng-hide="editMode">{{record.Record}}</span>
                                <input type="text" ng-show="editMode" ng-model="record.Record" />
                            </td>
                            <td>
                                <span ng-hide="editMode">{{record.Address}}</span>
                                <input type="text" ng-show="editMode" ng-model="record.Address" />
                            </td>

                           <td>
                                <span>
                                    <button type="submit" class="waves-effect waves-light btn" ng-hide="editMode" ng-click="editMode = true; editRecord(record)"><i class="mdi-file-cloud left"></i>Edit</button>
                                </span>
                                <span>
                                    <button type="submit" class="waves-effect waves-light btn" ng-show="editMode" ng-click="editMode = false"><i class="mdi-file-cloud left"></i>Save</button>
                                </span>
                                <span>
                                    <button type="submit" class="waves-effect waves-light btn" ng-click="removeRecord($index)"><i class="mdi-file-cloud left"></i>Delete</button>
                                 
                                </span>

                            </td>
                            <!--<td>
                            <input type="text" />
                            <span> <input type="button" value="Search" ng-click="findRecord($index)"></span>
                        </td>-->
                        </tr>

                    </table>
                </div>
                <br />

                <br />

            </div>

        </div>

    </div>
    
</body>

</html>


