<!DOCTYPE html>
<html>
<head>
    <title>Search Records</title>
    <link rel="stylesheet" href="http://s.cdpn.io/3/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../Styles/main.css" />
    <link rel="stylesheet" type="text/css" href="../Styles/main.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/Dogfalo/materialize/master/dist/css/materialize.min.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/Dogfalo/materialize/master/dist/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/Dogfalo/materialize/master/dist/css/materialize.min.css" />
    <link rel='stylesheet prefetch' href='https://cdn.rawgit.com/Dogfalo/materialize/master/dist/css/materialize.min.css'>
    <link rel="stylesheet" href="css/style.css">

    <script src="js/search.js" type="text/javascript"></script>
    <script src="js/angular.min.js" type="text/javascript"></script>   
    <script src="js/app.js" type="text/javascript"></script>  
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/Dogfalo/materialize/master/dist/js/materialize.min.js"></script>
    <script src="js/maincontroller.js" type="text/javascript"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/Dogfalo/materialize/master/dist/js/materialize.min.js"></script>


    
    
    
</head>
<body>
    <div class="intro deep-orange lighten-2 z-depth-1">
        <h1 class="grey-text text-lighten-5">TODO App</h1>
        <h5 clas="grey lighten-4 grey-text text-darken-1"></h5>
    </div>
    <div class="container about">
        <h5>Search Data</h5>
        <h6>Search records</h6>
        <hr>
        <div>
            <div ng-controller="Todo">
                <br />
                <!--<h1>TODO App</h1>-->
               <!-- <div style="border: 1px solid blue;">!-->
                    <section class="container">

                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <!--<input type="text" id="searchTerm" class="search_box" onkeyup="doSearch()" />-->
                                        <input id="searchTerm" type="text" class="search_box" onkeyup="doSearch()"/>
                                        <label for="searchTerm">Enter a criteria to Search</label>
                                    </div>
                                </div>
                                <div class="col s12 m4 l4">
                                    <div class="card-action">
                                        <!--<input type="Button" value="Submit" ng-click="addRecord(record)" />-->
                                         <a class="waves-effect waves-light btn" onclick="window.location='home.html'">Back</a>
                                    </div>
                                </div>

                            </form>

                        </div>

                        <!--<input id="filterrecord" type="search" class="light-table-filter" data-table="order-table" placeholder="Filter">
                        <label for="filterrecord">Enter a hint to filter</label>-->
                       
                        <table id="dataTable" border="1" width="100%" cellspacing="0" cellpadding="5">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Record</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>P001</td>
                                    <td>Jerome</td>
                                    <td>Board meeting</td>
                                    <td>No,25,Lake drive</td>
                                </tr>
                                <tr>
                                    <td>P002</td>
                                    <td>Mathew</td>
                                    <td>Client meeting</td>
                                    <td>No,23,Eden park</td>
                                </tr>
                                <tr>
                                    <td>P003</td>
                                    <td>Jason</td>
                                    <td>Paying monthly bills</td>
                                    <td>No,18,Eden Gardens</td>
                                </tr>

                            </tbody>

                        </table>

                    </section>

               <!-- </div>!-->
            </div>
        </div>
    </div>



</body>

</html>
